<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>

  <body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-white shadow text-white gradient-iron">
      <div class="container mx-auto px-4">
        <div class="flex justify-between items-center py-4">
          <a href="/" class="hover:text-blue-500">
            <div class="text-xl font-bold">My Portfolio</div>
          </a>
          <ul class="flex space-x-4">
            <li><a href="/" class="hover:text-blue-500">Home</a></li>
            <li>
              <a
                href="https://www.linkedin.com/school/ironhack"
                class="hover:text-blue-500"
                >LinkedIn</a
              >
            </li>
            <li>
              <a href="https://github.com" class="hover:text-blue-500"
                >GitHub</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container mx-auto mt-20 px-4">
      <div id="articlesContainer">
        <!-- Articles are loaded here using JavaScript -->
      </div>
    </main>

    <!-- Footer -->
    <footer class="gradient-footer bg-gray-800 text-white py-4 mt-10">
      <div class="container mx-auto text-center">
        <p class="text-xl font-medium">LAB | Express Basic Server</p>
        <p class="mt-2 opacity-70 text-sm">© 2023 Ironhack</p>
      </div>
    </footer>

    <script src="/javascript/articles.js"></script>
  </body>
</html>
